* {
	margin: 0;
	padding: 0;

}
.wrapper {
	margin: 0 auto;
	width: 1000px;
}

.panda{
	width: 400px;
	height: 250px;
	background-image: url(panda.jpg);
	background-size: 140%; 
}

.panda:hover {
	background-size: 230%;
	background-position: left;  
}